@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');

.profile {
  &__header {
    background-color: #bad3ff;
  }
  &__title {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: none;
    padding: 5px 5%;
  }
  &__subtitle {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 1.15rem;
    text-transform: none;
    padding: 5px 5%;
  }
}

.user-info {
  padding: 10px 5%;
}
.user-data {
  font-family: 'Source Code Pro', monospace;
  color: #3f3356;
  font-weight: 400;
  width: 100%;
  margin: 15px 0;
  border-spacing: 8px;
  &__header {
    font-weight: bold;
    text-align: left;
    width: 40%;
  }
  &__body {
    text-align: left;
  }
  &__info {
    &--active {
      color: lime;
    }
    &--inactive {
      color: goldenrod;
    }
    &--flex {
      display: flex;
      align-items: center;
    }
  }
  &__selection {
    display: flex;
    align-items: center;
    min-width: 50px;
    justify-content: space-between;
    color: #6979f8;
    background-color: #e5e7fa;
    margin: 0 5px 0 0;
    font-size: 0.65rem;
    padding: 1px 3px;
    &:nth-child(even) {
      min-width: 70px;
    }
  }

  &__delete {
    color: #1a051d;
    font-weight: bold;
    font-size: 0.65rem;
    width: initial;
  }
}

.user-events {
  padding: 10px 5%;
}

.ActivityLog {
  padding: 10px 5%;
}

.LogListItem {
  padding: 20px 0;
}

.user-log_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-log {
  padding: 5px 5%;
}

.add-log:hover {
  text-decoration: underline;
}
